<div class="container">
  <div class="my-4 text-neutral-500 text-sm">
    <h2 class="font-semibold text-gray-700">MPP DA Company</h2>
    <p class="mt-2 w-48">
      ABC 14, MPP Tech. Comm. Centre Persiaran Multimedia, 50000, Cyberjaya,
      Selangor Malaysia
    </p>

    <p class="mt-4">Email: info@mpdatacomapny.com.my</p>
  </div>
</div>
