<footer class="bg-gray-100">
  <p
    class="container text-xs sm:text-sm text-gray-600 flex flex-col sm:flex-row gap-2 sm:gap-1 text-center justify-between items-center p-2"
  >
    <span>Company Name</span>
    <span
      >Astro template by <a href="https://github.com/leovoon">leovoon</a>.
      <span> Original from Bizway Responsive Theme Designed by</span>
      <a href="http://www.inkthemes.com/"> InkThemes.com</a>
    </span>
  </p>
</footer>

<style>
  a {
    @apply text-blue-800 hover:text-blue-700 cursor-pointer;
  }
</style>
