---
import SlideShowView from "./SlideShowView.jsx";
---

<section class="border-b border-neutral-300">
  <div class="grid place-items-center gap-3 py-8 text-center my-4">
    <h1 class="font-arvo text-3xl">
      Malaysia Real Estate Business Intelligence
    </h1>
    <p class="font-arvo text-lg text-gray-500 text-center">
      A quality and impartial Information Hub providing real estate analytics to
      support critical decision-making
    </p>
  </div>

  <div class="container">
    <SlideShowView client:load />
  </div>
</section>
